
*.py

fuzzy_csp/demo/src/ui_server.py

dist/fuzzy_csp-0.1-py2.7.egg

fuzzy_csp.egg-info/dependency_links.txt

fuzzy_csp.egg-info/not-zip-safe

fuzzy_csp.egg-info/PKG-INFO

fuzzy_csp.egg-info/SOURCES.txt

*.txt

fuzzy_csp/.DS_Store

*.log

*.pyc
